# Internal planning files
PLAN.txt

# Private / Archive
_archive/
_private/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.db

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini
